body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #34495e;
}

button {
    margin-bottom: 10px;
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #16a085;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.car-item {
    list-style: none;
}

.link {
    border: 1px solid #1abc9c;
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.notFound-p {
    margin-bottom: 40px;
}

.btn-back {
    padding: 10px 40px;
}

.btn-not-found {
    border: 1px solid #21da84;
    padding: 10px 20px;
    background-color: #21da84;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}